* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #FFF;
}

.img-bg {
    background-image: url('bg.png');
}

.btn-yellow {
  background: #FF9900;
  color: white;
  text-transform: uppercase;
  border-radius: 50px;
  padding: 0.5em 1.5em;
}

.nav-pills > li > a {
  border-radius: 0;
}

.min-h {
  min-height: calc(100vh - 65px);
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow: hidden;
}

#wrapper.toggled {
  padding-left: 250px;
  overflow: hidden;
}

.brand {
  width: 250px;
}

.bb-gray {
  width: 250px;
  background-color: #313131;
  border-bottom: 1px solid #B5B5B5;
}

.toggle-arrow {
  color: #B5B5B5;
  border-left: 1px solid #B5B5B5;
}

.toggle-arrow  .material-icons {
  font-size: 3em;
}

.toggle-arrow:hover {
  cursor: pointer;
}

#sidebar-wrapper {
  z-index: 1000;
  position: absolute;
  left: 250px;
  width: 0;
  height: calc(100vh - 65px);
  margin-left: -250px;
  overflow-y: auto;
  background: #313131;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  position: absolute;
  padding: 15px;
  width: 100%;
  overflow-x: hidden;
}

.xyz {
  min-width: 360px;
}

#wrapper.toggled #page-content-wrapper {
  position: relative;
  margin-right: 0px;
}

.fixed-brand {
  width: auto;
}
/* Sidebar Styles */

.custom-select {
  height: auto;
  font-size: 1em;
  color: #999999;
}

.sidebar-nav {
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 2px;
}

.sidebar-nav li {
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  border-left: red 2px solid;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.no-margin {
  margin: 0;
}

@media (min-width: 768px) {
  #wrapper {
     padding-left: 250px;
  }
  .fixed-brand {
     width: 250px;
  }
  #wrapper.toggled {
     padding-left: 0;
  }
  #sidebar-wrapper {
     width: 250px;
  }
  #wrapper.toggled #sidebar-wrapper {
     width: 250px;
  }
  #wrapper.toggled-2 #sidebar-wrapper {
     width: 50px;
  }
  #wrapper.toggled-2 #sidebar-wrapper:hover {
     width: 250px;
  }
  #page-content-wrapper {
     padding: 20px;
     position: relative;
     -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
     transition: all 0.5s ease;
  }
  #wrapper.toggled #page-content-wrapper {
     position: relative;
     margin-right: 0;
     padding-left: 250px;
  }
  #wrapper.toggled-2 #page-content-wrapper {
     position: relative;
     margin-right: 0;
     margin-left: -200px;
     -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
     transition: all 0.5s ease;
     width: auto;
  }
}

.inprocess {
  background-color: #ffe000;
}

.request {
  background-color: red;
  color: white;
}

.ready {
  background: green;
  color: white;
}

/* flex */

.flex-grow-1 {
  flex-grow: 1;
}

/*tabs */

.tab-content, .nav-stats {
  border: 1px solid #707070;
  background-color: #E8E8E8;
}

.tab-content {
  padding : 5px 15px;
  border-top-width: 0;
}

.nav-stats {
  border-bottom-width: 0;
}

.nav-stats .nav-item, .nav-stats .nav-link, .nav-stats a {
  color: #747474;
}
.bg-all, .bg-all .nav-link {
  background: #E8E8E8 !important;
}

.bg-request, .bg-request .nav-link {
  background: #FFEBEE !important;
}
 
.bg-inprocess, .bg-inprocess .nav-link {
  background: #FFFDE7 !important;
}

.bg-ready , .bg-ready .nav-link {
  background: #E8F7E9 !important;
}

.nav-link.active {
  text-decoration: underline;
  font-weight: bold;
  border-width: 0;
}

.profile {
  background: #F1F1F1;
}
.avatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 100%;
}

.icons-xl {
  font-size: 3em; 
  color: #707070;
}

.icons-07 {
  font-size: 1.7em; 
  color: #707070;
}

.modal-new {
  background: #FFFDE7;
  color: #FF9600;
  font-weight: bold;
}

.close-btn {
  color: white;
  background: grey !important;
  height: 30px;
  width: 30px;
  border-radius: 100%;
}

.close-btn span {
  font-size: 1.5em;
}

.add-btn {
  color: white;
  background: #FC9B00 !important;
  height: 45px;
  width: 45px;
  border-radius: 100%;
  position: absolute;
  left: -22px;
}

.close-btn:hover {
  cursor: pointer;
}

.stripes-yellow td {
  vertical-align: unset;
}

.stripes-yellow tbody tr:nth-of-type(odd) {
  background: #FFFDE7;
}

.stripes-yellow input {
  border: 0;
  background: transparent;
}

.pointer:hover {
  cursor: pointer;
}

.noselect {
  user-select: none; 
}